* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    padding-top: 44px;
}
.wrapper {
    max-width: 1200px;
    margin: auto;
}
.header {
    margin-bottom: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input {
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
    padding: 8px;
    padding-left: 35px;
}
.input-address {
    flex: 0.8;
    background: url("../img/home.svg");
    background-repeat: no-repeat;
    background-position: left 11px center;
}
.input-search {
    background: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: left 11px center;
    height: 40px;
    width: 300px;
}
.buttons {
    display: flex;
    align-items: center;
}
.button {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 8px 16px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    border-radius: 2px;
    color: #595959;
    font-size: 16px;
    line-height: 24px;
}
.button-primary {
    color: #fff;
    background-color: #1890ff;
    border: 1px solid #1890ff;
    margin-right: 10px;
}
.button-icon {
    margin-right: 6px;
}
.promo_1 {
    box-sizing: border-box;
    box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
    background: #FFF1B8 url("../img/promo-image1.png") no-repeat top right -200px;
    border-radius: 10px;
    padding: 68px 70px;
    margin-bottom: 56px;
}
.promo-title {
    font-style: normal;
    font-weight: bold;
    font-size: 39px;
    line-height: 46px;
    color: #302C34;
    margin-bottom: 15px;
}
.promo-text {
    max-width: 538px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #302C34;
}
.section-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
}
.section-title {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000;
}
.cards {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    background: #FFFFFF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 30px;
}
.card-image {
    width: 384px;
    height: 250px;
    object-fit: cover;
}
.card-frame {
    padding: 20px 23px 35px 24px;
}
.card-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-title {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}
.card-tag {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: white;
    background-color: #000;
    border-radius: 2px;
    padding: 1px 8px;
}
.card-info {
    display: flex;
    align-items: center;
}
.rating {
    margin-right: 26px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #FFC107;
}
.price, .category {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #8C8C8C;
}
.price {
    margin-right: 10px;
}
.price:after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #8C8C8C;
    vertical-align: middle;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}
.container {
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}
.footer {
    padding: 60px 0;
}
.footer-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-nav {
    margin-right: auto;
    margin-left: 35px;
}
.footer-link {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #595959;
    text-decoration: none;
}
.footer-link:not(:last-child) {
    margin-right: 15px;
}
.social-links {
    display: flex;
    align-items: center;
}
.social-link:not(:last-child) {
    margin-right: 21px;
}